body {
    background-color:rgb(232, 220, 195);
}

button {
    display: block;
    padding: 4px;
    margin: 8px;
    width:400px;
    text-align: left;
    background-color:rgb(242, 212, 171);
    border-radius: 10px;
}

button:hover {
    background-color:rgb(242, 186, 171);
    border-radius: 14px;

}

s {
    color: #00000060;
    text-decoration-color: #000010;
}

input {
    display: block;
    padding: 4px;
    margin: 8px;
    border-width: 1.5px;
    border-color: #000000;
    width:"100%";
    background-color:rgb(240, 223, 139);
}